@{
    ViewBag.Title = "SearchMyHome";
    Layout = "~/Views/Shared/_CustomersLayout.cshtml";
}

<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right item">
                <a class="ui inverted button" >Iniciar Sesión</a>
                <a class="ui inverted button" href="@Url.Action("Register","Account")">Registrarse</a>
            </div>
        </div>
    </div>

    <div class="ui text">
        <h1 class="ui  inverted header">
          <img src="@Url.Content("~/Content/image/OfficialLogo.png")"/>
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
       
        <div class="col-lg-4 col-sm-1">
            <div class="panel panel primary">
                <div class="panel-heading">
                    <h3 class="panel-title">title</h3>
                    <select></select>
                    <p class="badge badge-primary">Lorem impsu</p>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
           


           
        </div>
    </div>
</div>




@section scripts{
<script src="~/Content/semantic-ui/components/visibility.js"></script>
<script src="~/Content/semantic-ui/components/sidebar.js"></script>
<script src="~/Content/semantic-ui/components/transition.js"></script>
<!--- Component JS -->

<script type="text/javascript" src="~/Content/semantic-ui/components/popup.js"></script>
<script type="text/javascript" src="~/Content/semantic-ui/components/dimmer.js"></script>
<script type="text/javascript" src="~/Content/semantic-ui/components/rating.js"></script>
<script type="text/javascript" src="~/Content/semantic-ui/components/transition.js"></script>
<script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
</script>
<script>
  $(document)
    .ready(function() {
      $('.special.card .image').dimmer({
        on: 'hover'
      });
      $('.star.rating')
        .rating()
      ;
      $('.card .dimmer')
        .dimmer({
          on: 'hover'
        })
      ;
    })
  ;
</script>


    }