@{
    ViewBag.Title = "SearchMyHome";
    Layout = "~/Views/Shared/_CustomersLayout.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
 
<link href="~/Content/JCarousel/jcarousel.connected-carousels.css" rel="stylesheet" />
<link href="~/Content/homesite.css" rel="stylesheet" />

<div class="ui  vertical masthead center aligned segment">
    <!--MENU HEADER-->
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Inicio</a>
            <a class="item">Buscar Inmuebles</a>
            <a class="item">Planes de suscripción</a>
            <div class="right item">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="ui inline dropdown ">
            <div class="text">
                <img class="ui avatar image" src="~/Content/semantic-ui/avatar/tom.jpg"> @User.Identity.Name
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Dashboard</div>
                <div class="item"> <a href="@Url.Action("logOut","Account")">Cerrar sesión</a> </div>
            </div>
        </div>

    }
    else
    {
                    <a class="ui primary button" href="@Url.Action("Login","Account")">Iniciar sesión</a>
                    <a class="ui primary button" href="@Url.Action("Register","Account")">Registrarse</a>
    }
              
            </div>
        </div>
    </div>
    <!--MENU HEADER-->

    <div class="ui container" style="margin-top:15px">
        <div class="ui stackable grid">
            <div class="ui eight wide column">
                <!--Official Logo-->
                <img  src="~/Content/image/OfficialLogo.png" class="image-left" width="180"/>
                <!--MAIN SEARCH MENU-->
                <div class="ui  ten wide segment">
                    <div class="ui form">
                        <div class="field">
                            <div class="ui search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" id="search-main-input" onFocus="geolocate()" placeholder="Dirección">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--MAIN SEARCH MENU-->
            </div>

            <div class="ui eight wide column">
                <div class="ui fluid container">
                    <!--JCarousel-->
                    <div class="connected-carousels">
                        <div class="stage">
                            <div class="carousel carousel-stage">
                                <ul>
                                    <li><img src="~/Content/image/ed2.jpg" width="600" height="400" alt=""></li>
                                    <li><img src="~/Content/image/r10.jpg" width="600" height="400" alt=""></li>
                                    <li><img src="~/Content/image/r9.jpg" width="600" height="400" alt=""></li>
                                    <li><img src="~/Content/image/r8.jpg" width="600" height="400" alt=""></li>
                                    <li><img src="~/Content/image/ed1.jpg" width="600" height="400" alt=""></li>
                                    <li><img src="~/Content/image/r1.jpg" width="600" height="400" alt=""></li>
                                </ul>
                            </div>
                            <p class="photo-credits">
                                 <a href="http://www.mw-fotografie.de">$RD 1,000,000</a>
                            </p>
                            <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                            <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
                        </div>

                        <div class="navigation">
                            <a href="#" class="prev prev-navigation">&lsaquo;</a>
                            <a href="#" class="next next-navigation">&rsaquo;</a>
                            <div class="carousel carousel-navigation">
                                <ul>
                                    <li><img src="~/Content/image/ed2.jpg" width="50" height="50" alt=""></li>
                                    <li><img src="~/Content/image/r10.jpg" width="50" height="50" alt=""></li>
                                    <li><img src="~/Content/image/r9.jpg" width="50" height="50" alt=""></li>
                                    <li><img src="~/Content/image/r8.jpg" width="50" height="50" alt=""></li>
                                    <li><img src="~/Content/image/ed1.jpg" width="50" height="50" alt=""></li>
                                    <li><img src="~/Content/image/r1.jpg" width="50" height="50" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--JCarousel-->
                </div>
            </div>
        </div>
    </div>
  
   

    

</div>

<!---Content of page-->
<div class="ui contanier">
    <div class="ui stackable grid">
        <div class="ui six wide column">
            <div class="ui segment">
                <div class="ui form">
                     <div class="field">
                         <label>Tipo Inmueble</label>
                         <select></select>
                     </div>
                </div>
            </div>
        </div>
        <div class="ui ten wide column">
            <div class="ui basic segment stackable four cards">
                @for (int index = 1; index < 10; index++ )
                {

                        <div class="ui card">
                            <div class="image">
                                <img src="~/Content/image/r@(index).jpg" />
                            </div>
                            <div class="extra">
                                <i class="dollar icon"></i>
                                RD 1,000,000
                            </div>
                        </div>
                    
                }
            </div>
        </div>
    </div>
</div>




@section scripts{
<!--JCarouse-->
<script src="~/Scripts/JCarousel/JCarousel.js"></script>
<script src="~/Scripts/JCarousel/jcarousel.connected-carousels.js"></script>
<script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
</script>
<script>
  $(document)
    .ready(function() {
      $('.special.card .image').dimmer({
        on: 'hover'
      });
      $('.star.rating')
        .rating();
      $('.card .dimmer')
        .dimmer({
          on: 'hover'
        });

      $('.ui.dropdown')
               .dropdown();
    });
</script>


    <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        var placeSearch, autocomplete;
       

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('search-main-input')),
                {
                    componentRestrictions: { country: "do" },
                    types: ['geocode']
                });


            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', getPlace());

         
        }


        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                   
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        function getPlace() {
            var place = autocomplete.getPlace();
        }
    </script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMcn-JEubU5OtrOyRVYYxdyEALtwEJ6DQ&libraries=places&callback=initAutocomplete"></script>
    }