<div class="jumbotron">
    <h1>SearchMyHome API</h1>
    <p class="lead">SearchMyHome API provide all the data that the clients needs when they are running SearhMyHome </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Uses API</h2>
        <p>Here you have the documentation for use this API</p>
    </div>
    
</div>
