<!doctype html>
<html>
  <head>
      <!--Encoding-->
      <meta charset="utf-8" />
      <!-- for-mobile-apps -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!--Add more keywords for search engine-->
      <meta name="keywords" content="Buscar Casa, Search Home, Search House, Inmobiliario, Inmobiliaria Dominicana" />

      <!-- //for-mobile-apps -->
      <!--fonts load from google-->
      <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <!--//fonts-->
      <!--Site semantic ui-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet" />
      <!--Official Logo shortcut-->
      <link rel="shortcut icon" href="~/Content/image/OfficialLogo.png" />

      <link href="~/Content/Site.css" rel="stylesheet" />
     
  </head>
  <body>
    <header>
        <div class="ui fluid container">
            <div class="ui menu fixed">
                <div class="item">
                    <img class="ui image" src="~/Content/image/OfficialLogo.png" width="90"  />
                </div>
            </div>
           
        </div>
    </header>
    
        <div class="container main-content" style="margin-top:100px">
              @RenderBody()
        </div>
  
       
      
      @Scripts.Render("~/bundles/jquery")
      <script src="~/Scripts/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
      @Scripts.Render("~/bundles/modernizr")
      @RenderSection("scripts", required: false)
  </body>
</html>