.configuration-info-user{
    overflow:scroll;
    max-height:450px;
    min-height:450px;
}

.section-hide {
    display:none;
}

.error-message{
    color:red;
}

.pull-right{
    float:right;
}

.image-button{
    margin-left:16px !important;
    margin-top:5px !important;
}